.ant-tabs-bar {
  border-bottom: transparent !important;
}

.ant-drawer-content-wrapper {
  height: 70px !important;
}

/* .ant-carousel .slick-dots li.slick-active button {
  width: 35px !important;
} */

/* .ant-carousel .slick-dots li button {
  width: 30px !important;
} */

.ant-carousel .slick-slide {
  background: #364d79;
  line-height: 160px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

/* .slick-track {
  height: 85vh;
} */

@media only screen and (max-width: 1172px) {
  .project-1 {
    margin-bottom: 50px;
    margin-right: 0 !important;
  }
}
