.ant-tabs-bar {
  border-bottom: transparent !important;
}

.ant-drawer-content-wrapper {
  height: 70px !Important;
}

.ant-carousel .slick-dots li.slick-active button {
  width: 35px !important;
}

.ant-carousel .slick-dots li button {
  width: 30px !important;
}

.ant-carousel .slick-slide {
  background: #364d79;
  line-height: 160px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slick-track {
  height: 85vh;
}
